///// Breakpoints
@mixin breakpoint($point) {

    @if $point == tabletPortrait {
        @media (min-width: 768px)  { 
            @content ;
        }
    }
    
    @else if $point == tabletLandscape {
        @media (min-width: 1024px) { 
            @content ;
        }
    }

    @else if $point == desktop {
        @media (min-width: 1280px) { 
            @content ;
        }
    }

}

///// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

///// Variables
$grey-light: #f2f2f2;
$grey: #ccc;
$purple: #a24aae;
$white: #fff;

$transition: .2s ease-in-out;

///// Layout
.container {
    padding: 0 20px;

    @include breakpoint(desktop) {
        margin: 0 auto;
        max-width: 1280px;
        padding: 0;
    }
}

///// Style
body {
    background-color: $grey-light;
    font-family: 'Roboto', sans-serif;

    .search {
        background-color: $white;
        margin-top: 50px;
        position: relative;

        input {
            background-color: transparent;
            border-bottom: 2px solid $grey;
            border-left: none;
            border-right: none;
            border-top: none;
            box-sizing: border-box;
            font-size: 16px;
            outline: none;
            padding: 15px;
            transition: border-color $transition;
            width: calc(100% - 50px);

            &:hover {
                border-bottom-color: $purple;
            }

            &:focus {
                border-bottom-color: $purple;

                &+ label {
                    color: $purple;
                    left: 0;
                    top: -24px;
                }
            }

            &.fixed + label {
                left: 0;
                top: -24px;
            }
        }

        label {
            font-size: 14px;
            font-weight: bold;
            left: 15px;
            position: absolute;
            text-transform: uppercase;
            transition: color $transition, left $transition, top $transition;
            top: 16px;
        }
        
        button {
            background-color: $purple;
            border: none;
            float: right;
            height: 50px;
            width: 50px;

            &:hover {
                cursor: pointer;

                i {
                    opacity: 1;
                }
            }

            i {
                color: $white;
                font-size: 20px;
                opacity: .7;
                transition: opacity $transition;
            }
        }
    }
}